.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 30px;

    .detail-description {
        padding: 4px;

        .title {
            font-size: 13px;
            font-weight: 700;
        }

        img {
            height: 150px;
            margin-top: 10px;
        }
    }

    .example {
        align-self: baseline;

        .title {
            font-size: 13px;
            font-weight: 700;
        }
    }
}



.back {
    margin-left: 32px;
    margin-top: 6px;
}