<a routerLink="/" mat-button class="back">Back to Dashboard</a>
<div class="center">
    <section class="detail-description">
        <h2 class="title">Of Operator</h2>
        <p class="content mb-2">
            The of operator in RxJS is a creation operator that allows you to create an Observable from one or more
            values.
            It is a simple way to emit a fixed number of synchronous values in sequence and then complete.
        </p>

        <h3 class="title">Features</h3>
        <ul>
            <li>Emits the provided values sequentially, one at a time.</li>
            <li>Completes immediately after emitting all values.</li>
            <li>Values can be of any type.</li>
        </ul>


        <img [src]="imageUrl">


    </section>

    <section class="example">
        <h2 class="title">Example</h2>
        <p>const of$ = of(1,2,3,4,5,6,7,8,9,10);</p>
        <p>of$.subscribe(res => console.log(res))</p>
        @for(option of arrOfOutput; track option){
        <span class="output">
            {{option}}
        </span>
        }

    </section>
</div>